:root {
  --primary: #f44336;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  transition: all .3s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fab-container {
  z-index: 99;
}

.pink {
  color: var(--primary)
}

.header {
  font-size: 2rem;
  font-weight: bold;
}
